*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

.section{
  padding: 100px;
  position: relative;
}

.block{
  display: inline-block;
  border: 1px solid blue;
  width: 555px;
  height: 296px;
  font-family: 'Hind Siliguri', sans-serif;
  padding: 40px 40px;
  background: rgb(184,90,174);
background: linear-gradient(90deg, rgba(184,90,174,1) 0%, rgba(0,148,255,1) 100%)
}
.block-2{
  display: inline-block;
  position: relative;
  position: absolute;
  margin-left: 580px;
  margin-top: -296px;
  border: 1px solid blue;
  width: 555px;
  height: 296px;
  font-family: 'Hind Siliguri', sans-serif;
  padding: 40px 30px;
  background: rgb(184,90,174);
background: linear-gradient(90deg, rgba(184,90,174,1) 0%, rgba(0,148,255,1) 100%)
}
.discount{
  font-size: 14px;
  color:#D5D8DC;
  padding-bottom: 5px;
}
.title{
  font-size: 24px;
  width: 250px;
  padding-bottom: 15px;
  color: aliceblue;
}
.show-now{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.compact-drone{
  display: inline-block;
  position: absolute;
  width: 280px;
  height: 250px;
  margin-left: 260px;
  margin-top: -290px;
}

.compact-camera{
display: inline-block;
position: absolute;
width: 270px;
height: 220px;
margin-left: 850px;
margin-top: -280px;
}
